@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
 html{
}
 body{
     text-align: center;
     font-family: 'Recursive', sans-serif;
     height: 45rem;
     background-image: url("./images/weatherImg.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
}
 input{
     border-radius: 5%;
     font-size: 1.2rem;
     width: 12rem;
     font-family: 'Recursive', sans-serif;
}
form{
     display: flex;
     justify-content: center;
}
 label{
     font-size: 1.25rem;
     margin-left: 1rem;
     font-weight: bold;
}
 button{
     font-family: 'Recursive', sans-serif;
     border-color: black;
     border-radius: 5%;
     max-width:10rem;
     margin-left: 0.125rem;
     background-color: black;
     color: white;
     font-size: 1.2rem;
}
 button:hover{
     background-color: white;
     color: black;
}
 #weatherResult{
     width: 95%;
     margin-top: 2rem;
     margin-left: auto;
     margin-right: auto;
}
 h1{
}
 @media(max-width:727px){
     form{
         display: flex;
         flex-direction: column;
         align-items: center;
    }
}
 
